*{padding: 0px;
    margin: 0px;

}
body{
    font-family: 'Andada Pro', serif;
    background-color: #6d6875;
}

.logo{
    display:flex;
    flex-direction: column;
}
nav{
    background-color: #b5838d;
    padding: 0 30px;
    justify-content: space-between;  
}
ul{
    list-style: none;
    padding: 0;
}
li {
    padding: 0 30px
}
h1, p{
    color: #6d6875;
}
nav, ul{
    display:flex;
    flex-direction: row;
}

h1:hover{
    cursor: pointer;
    color: #e5989b;
    font-family: 'ANANDA PRO', serif; 
    font-size: 55px;
    transition: 3s;
}
h1:active{
    color:greenyellow;
    transition: 1s;
}
p:hover {
    cursor: pointer;
    color: #e5989b;
    transition-duration: 1s;
}
h3 {
    text-align: center;
    color: #b5838d;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.container > div {
    flex: 1 1 200px;
    margin: 10px;

}
img:hover {height: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 3s;
    
}
.adote{
    width: 20%;
    margin: 5px;

}

.rodape {
    background-color: #b5838d;
    text-align: center;
    

}

@media (max-width: 600px)
{
    .logo{
        display:none;
        
    }
    nav, ul{
        display:flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex-wrap: Wrap;
    }
    .adote{
        width: 80% !important;
        margin: 5px;
    }
}